################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/*
**/Timer-Inventory-API/TimerInventoryAPI/TimerInventoryAPIWeb/obj/*
**/Timer-Inventory-API/TimerInventoryAPI/TimerInventoryAPIWeb/bin/Debug/*
