################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Web-NG/hart-intercivic-code-challenge-web/.vscode
